<h1><%= "#{@user.display_name}'s Profile" %></h1>
<% if @user == current_user %>
  <%= link_to "Edit Profile", edit_user_registration_path %>
<% end %>
<div>
  <h2><%= "About" %></h2>
  <div><%= "Name: #{@user.display_name}" %></div>
  <div><%= "Username: #{@user.username}" %></div>
  <div><%= "Email: #{@user.email}" %></div>
</div>
<div>
  <h2><%= "Hosting:" %></h2>
  <% if @hosted_events.none? %>
    <%= "#{@user.display_name} has no hosting plans!" %>
  <% else %>
    <%= render partial: "events/event", collection: @hosted_events, locals: {show_join: true} %>
  <% end %>
</div>
<div>
  <h2><%= "Attending:" %></h2>
  <% if @attend_events.none? %>
    <%= "#{@user.display_name} is not attending any events!" %>
  <% else %>
    <%= render partial: "events/event", collection: @attend_events, locals: {show_join: true} %>
  <% end %>
</div>
