<%= stylesheet_link_tag 'event' %>
<div class="event-container">
  <h3 class="event-title">
    <div><%= link_to "#{event.event_name}", event_path(event.id) %></div>
  </h3>
  <em>
    <div class="event-host"><%= link_to event.host.display_name, user_path(event.host.id) %></div>    <div class="event-location"><%= "Location: #{event.location}" %></div>
    <div class="event-date"><%= "Time: #{event.date}" %></div>
  </em>
  <div class="event-description"><%= event.description %></div>
  <div class="button">
    <% if local_assigns[:show_join] %>
      <div class="join-button">
        <%= link_to "Join Event!", event_attendances_path(event.id), data: { turbo_method: :post } %>
      </div>
      <% if user_signed_in? %>
        <%# Prevents owner of event from not going %>
        <% if current_user.attend_event_ids.include?(event.id) && !current_user.hosted_event_ids.include?(event.id) %>
          <div class="not-going-button">
            <%= link_to "Cancel", event_attendance_path(event_id: event.id, id: Attendance.find_by(event_id: event.id, user_id: current_user.id).id), data: { turbo_method: :delete } %>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
