<h1><%= "#{@event.event_name}" %></h1>

<div>
  <div>
    <%= "Host: " %>
    <%= link_to "#{@user.display_name}", user_path(@user.id) %>
  </div>
  <div><%= @event.description %></div>
  <div><%= @event.location %></div>
  <div><%= @event.date %></div>
</div>

<% if current_user == @user %>
  <div><%= link_to "Edit Event", edit_event_path %></div>
<% else %>
  <div><%= button_to "Join!", event_attendances_path(@event.id) %></div>
<% end %>