<!DOCTYPE html>
<html>
  <head>
    <title>Heathmeet</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="top-bar">
      <div class="top-bar-links">
        <%= link_to "Homepage", root_url, class: "top-bar-link" %>
        <%= link_to "Login", new_user_session_path, class: "top-bar-link" %>
        <%= link_to "Signup", new_user_registration_path, class: "top-bar-link" %>
      </div>
      <div class="user-info">
        <% if user_signed_in? %>
          <div class="user-info-label">Current User:</div>
          <%= link_to current_user.display_name, user_path(current_user.id), class: "user-info-link" %>
          <%= link_to "Logout", destroy_user_session_path, data: { turbo_method: :delete }, class: "top-bar-link logout-link" %>
        <% end %>
      </div>
    </div>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <% if flash.now[:errors] %>
      <% flash[:errors].each do |msg| %>
        <div class="error"><%= msg %></div>
      <% end %>
    <% end %>
    <%= yield %>
  </body>
</html>
